* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: #3a4452;
  padding: 20px;
  border-radius: 10px;
}

input {
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: transparent;
  font-size: 20px;
  margin: 5px;
  padding: 10px;
  color: white;
  cursor: pointer;
}

input:hover {
  background-color: #636c79;
}

.display {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.display input {
  text-align: right;
  flex: 1;
  font-size: 45px;
  box-shadow: none;
  background-color: azure;
  color: black;
  border: 0;
  outline: 0;
  cursor: none;
}

input.equal {
  width: 130px;
}